<a href="https://colab.research.google.com/github/Plusholic/BeakJun_Solution/blob/main/BigData_practice_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

fatal: destination path 'yemoonsaBigdata' already exists and is not an empty directory.

In [2]:
import pandas as pd
import numpy as np

X_train = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_X_train.csv")
X_test = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_X_test.csv")
y_train = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_y_train.csv")


print(X_train.info())
print(X_train)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.4+ KB
None
       species     island     sex  bill_length_mm  bill_depth_mm  \
0       Adelie  Torgersen     NaN            42.0           20.2
1       Gentoo     Biscoe  FEMALE            43.5           15.2
2       Adelie  Torgersen    MALE            42.8           18.5
3    Chinstrap      Dream    MALE            53.5           19.9
4       Gentoo     Biscoe    MALE            50.2           14.3
..         ...        ...     ...             ...            ...
235  Chinstrap      Dream  FEMALE            46.6           17.8
236     Gentoo     Biscoe    MALE            49.8           15.9
237     Adelie  Torgersen  FEMALE            34.6           17.2
238  Chinstrap      Dream  FEMALE            45.9           17.1
239     Gentoo     Biscoe  FEMALE            41.7           14.7

     flipper_length_mm
0                190.0
1                213.0
2                195.0
3                205.0
4                218.0
..                 ...
235              193.0
236              229.0
237              189.0
238              190.0
239              210.0

[240 rows x 6 columns]

In [3]:
y_train # 몸무게를 예측하는 회귀분석

     body_mass_g
0         4250.0
1         4650.0
2         4250.0
3         4500.0
4         5700.0
..           ...
235       3800.0
236       5950.0
237       3200.0
238       3575.0
239       4700.0

[240 rows x 1 columns]

In [4]:
train = pd.concat([X_train, y_train], axis=1) # y_train을 포함해서결측치 제거를 위해 합쳐줌

train.dropna(inplace=True)
train.reset_index(drop=True, inplace=True) # drop=True 옵션은 기존의 인덱스를 버리고 재배열해준다.

In [5]:
train

,species,island,sex,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
0,Gentoo,Biscoe,FEMALE,43.5,15.2,213.0,4650.0
1,Adelie,Torgersen,MALE,42.8,18.5,195.0,4250.0
2,Chinstrap,Dream,MALE,53.5,19.9,205.0,4500.0
3,Gentoo,Biscoe,MALE,50.2,14.3,218.0,5700.0
4,Adelie,Dream,FEMALE,36.5,18.0,182.0,3150.0
...,...,...,...,...,...,...,...
227,Chinstrap,Dream,FEMALE,46.6,17.8,193.0,3800.0
228,Gentoo,Biscoe,MALE,49.8,15.9,229.0,5950.0
229,Adelie,Torgersen,FEMALE,34.6,17.2,189.0,3200.0
230,Chinstrap,Dream,FEMALE,45.9,17.1,190.0,3575.0
231,Gentoo,Biscoe,FEMALE,41.7,14.7,210.0,4700.0

In [6]:
# 다시 독립변수와 종속변수로 분리시킴

X_train = train.iloc[:,:-1]
y_train = train.iloc[:,-1]

X_train.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

In [7]:
# 수치형 변수 3개는 스케일링이 필요, 범주형 변수 3개에 대해서는 인코딩이 필요

X = pd.concat([X_train, X_test])

categoric_ = X.columns[:3] # 범주형 변수 컬럼명
numeric_ = X.columns[3:] # 수치형 변수 컬럼명

from sklearn.preprocessing import OneHotEncoder, MinMaxScaler

ohe = OneHotEncoder(handle_unknown = 'ignore')

# 범주형 변수는 One Hot Encoding
X_train_res = ohe.fit_transform(X_train[categoric_])
X_test_res = ohe.fit_transform(X_test[categoric_])

In [8]:
print(X_train_res), print(X_train[numeric_])

  (0, 2)	1.0
  (0, 3)	1.0
  (0, 6)	1.0
  (1, 0)	1.0
  (1, 5)	1.0
  (1, 7)	1.0
  (2, 1)	1.0
  (2, 4)	1.0
  (2, 7)	1.0
  (3, 2)	1.0
  (3, 3)	1.0
  (3, 7)	1.0
  (4, 0)	1.0
  (4, 4)	1.0
  (4, 6)	1.0
  (5, 2)	1.0
  (5, 3)	1.0
  (5, 7)	1.0
  (6, 2)	1.0
  (6, 3)	1.0
  (6, 6)	1.0
  (7, 0)	1.0
  (7, 5)	1.0
  (7, 6)	1.0
  (8, 2)	1.0
  :	:
  (223, 6)	1.0
  (224, 2)	1.0
  (224, 3)	1.0
  (224, 7)	1.0
  (225, 0)	1.0
  (225, 4)	1.0
  (225, 7)	1.0
  (226, 1)	1.0
  (226, 4)	1.0
  (226, 7)	1.0
  (227, 1)	1.0
  (227, 4)	1.0
  (227, 6)	1.0
  (228, 2)	1.0
  (228, 3)	1.0
  (228, 7)	1.0
  (229, 0)	1.0
  (229, 5)	1.0
  (229, 6)	1.0
  (230, 1)	1.0
  (230, 4)	1.0
  (230, 6)	1.0
  (231, 2)	1.0
  (231, 3)	1.0
  (231, 6)	1.0
     bill_length_mm  bill_depth_mm  flipper_length_mm
0              43.5           15.2              213.0
1              42.8           18.5              195.0
2              53.5           19.9              205.0
3              50.2           14.3              218.0
4              36.5           18.0              182.0
..              ...            ...                ...
227            46.6           17.8              193.0
228            49.8           15.9              229.0
229            34.6           17.2              189.0
230            45.9           17.1              190.0
231            41.7           14.7              210.0

[232 rows x 3 columns]

(None, None)

In [9]:
X_train_ohe = pd.DataFrame(X_train_res.todense(), columns = ohe.get_feature_names())
X_test_ohe = pd.DataFrame(X_test_res.todense(), columns = ohe.get_feature_names())

print(X_train_ohe)

# 범주형 변수를 One Hot Encoding으로 수치형으로 변환해줬으니 기존의 수치형 변수와 합친다.
X_train_fin = pd.concat([X_train[numeric_], X_train_ohe], axis=1)
X_test_fin = pd.concat([X_test[numeric_], X_test_ohe], axis=1)

print(X_train_fin)

     x0_Adelie  x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  \
0          0.0           0.0        1.0        1.0       0.0           0.0
1          1.0           0.0        0.0        0.0       0.0           1.0
2          0.0           1.0        0.0        0.0       1.0           0.0
3          0.0           0.0        1.0        1.0       0.0           0.0
4          1.0           0.0        0.0        0.0       1.0           0.0
..         ...           ...        ...        ...       ...           ...
227        0.0           1.0        0.0        0.0       1.0           0.0
228        0.0           0.0        1.0        1.0       0.0           0.0
229        1.0           0.0        0.0        0.0       0.0           1.0
230        0.0           1.0        0.0        0.0       1.0           0.0
231        0.0           0.0        1.0        1.0       0.0           0.0

     x2_FEMALE  x2_MALE
0          1.0      0.0
1          0.0      1.0
2          0.0      1.0
3          0.0      1.0
4          1.0      0.0
..         ...      ...
227        1.0      0.0
228        0.0      1.0
229        1.0      0.0
230        1.0      0.0
231        1.0      0.0

[232 rows x 8 columns]
     bill_length_mm  bill_depth_mm  flipper_length_mm  x0_Adelie  \
0              43.5           15.2              213.0        0.0
1              42.8           18.5              195.0        1.0
2              53.5           19.9              205.0        0.0
3              50.2           14.3              218.0        0.0
4              36.5           18.0              182.0        1.0
..              ...            ...                ...        ...
227            46.6           17.8              193.0        0.0
228            49.8           15.9              229.0        0.0
229            34.6           17.2              189.0        1.0
230            45.9           17.1              190.0        0.0
231            41.7           14.7              210.0        0.0

     x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  x2_FEMALE  \
0             0.0        1.0        1.0       0.0           0.0        1.0
1             0.0        0.0        0.0       0.0           1.0        0.0
2             1.0        0.0        0.0       1.0           0.0        0.0
3             0.0        1.0        1.0       0.0           0.0        0.0
4             0.0        0.0        0.0       1.0           0.0        1.0
..            ...        ...        ...       ...           ...        ...
227           1.0        0.0        0.0       1.0           0.0        1.0
228           0.0        1.0        1.0       0.0           0.0        0.0
229           0.0        0.0        0.0       0.0           1.0        1.0
230           1.0        0.0        0.0       1.0           0.0        1.0
231           0.0        1.0        1.0       0.0           0.0        1.0

     x2_MALE
0        0.0
1        1.0
2        1.0
3        1.0
4        0.0
..       ...
227      0.0
228      1.0
229      0.0
230      0.0
231      0.0

[232 rows x 11 columns]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [10]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train_fin, y_train, test_size=0.3)

In [11]:
X_val

,bill_length_mm,bill_depth_mm,flipper_length_mm,x0_Adelie,x0_Chinstrap,x0_Gentoo,x1_Biscoe,x1_Dream,x1_Torgersen,x2_FEMALE,x2_MALE
126,43.2,19.0,197.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
158,46.8,15.4,215.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
39,45.3,13.8,208.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
70,41.1,17.5,190.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
159,35.0,17.9,192.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
93,51.4,19.0,201.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
201,40.2,20.1,200.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
104,39.2,19.6,195.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
163,38.2,20.0,190.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
148,49.3,15.7,217.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0

In [12]:
scaler = MinMaxScaler()
scaler.fit(X_tr[numeric_])
# 수치형 변수는 Min Max Scaling
X_tr[numeric_] = scaler.transform(X_tr[numeric_])
X_val[numeric_] = scaler.transform(X_val[numeric_])
X_test_fin[numeric_] = scaler.transform(X_test_fin[numeric_])

In [13]:
from sklearn.linear_model import LinearRegression

modelLR = LinearRegression()
modelLR.fit(X_tr, y_tr)

y_val_pred = modelLR.predict(X_val)
print(y_val_pred)

[4139.2104622  5297.01031323 4690.54706482 3986.48297262 3397.29416641
 3498.74895495 3389.71321113 4071.42756343 3294.67062774 4170.11111471
 5424.04540765 4315.34162274 3555.66935832 5246.62111959 3938.33705245
 5340.64929485 5388.23103222 3880.96892031 3994.13976049 4019.13508145
 3483.46428482 3925.71416948 3555.10368686 4078.932635   4864.7842979
 4046.04328289 4763.48852561 3526.69727213 3220.20560649 4161.80419201
 3475.36152864 3428.27226933 4618.29067817 3954.47632438 3445.77139883
 5515.90973813 4144.6675467  3387.54857626 4175.95554095 3372.44210667
 5535.12928119 4191.33469623 4724.99917477 3356.53781275 3941.88155694
 4172.62522477 5359.72316879 4650.84111762 3348.39346474 4084.05854989
 3357.28379219 3423.54313051 4365.09692622 3461.71543548 5391.60705748
 4133.76336796 4750.7243597  4004.87362151 3297.67330583 4275.22783214
 4171.02647916 3375.41830051 3281.10155536 4836.462647   3471.45420184
 4179.27946299 4175.76910775 4021.20960389 3954.02063475 5398.30608552]

In [14]:
print(modelLR.intercept_) # 기울기 확인

coef = pd.Series(data=modelLR.coef_, index=X_train_fin.columns) # 계수 확인
print(coef.sort_values())

3366.364808875154
x0_Chinstrap        -499.188561
x0_Adelie           -231.328459
x2_FEMALE           -212.543242
x1_Torgersen         -18.871048
x1_Biscoe            -11.123320
x1_Dream              29.994368
x2_MALE              212.543242
bill_depth_mm        283.651497
bill_length_mm       685.741337
x0_Gentoo            730.517021
flipper_length_mm    733.135763
dtype: float64

In [15]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_val, y_val_pred)
rmse = mean_squared_error(y_val, y_val_pred, squared=False)
rmse_2 = np.sqrt(mse)
print('MSE : {0:.3f} , RMSE : {1:.3f}, RMSE : {2:.3f}'.format(mse, rmse, rmse_2)) # sqrt를 활용해도 rmse를 구할 수 있다.

MSE : 90702.988 , RMSE : 301.169, RMSE : 301.169

In [16]:
y_tr.name

'body_mass_g'

In [17]:
y_pred = modelLR.predict(X_test_fin)
print(y_pred)

pd.DataFrame({y_tr.name : y_pred}).to_csv()

[4080.90401287 5311.05106155 4013.83246814 3504.43449412 4696.74815049
 4037.17672245 3344.09588521 3602.34969609 3533.24621517 3561.1757777
 3410.83710154 5489.56038435 3527.32476815 4107.32855178 3813.84014442
 4116.54808404 4397.67214345 3553.1137856  3584.62319005 3335.26567297
 5320.93272868 4120.4916164  5876.97976182 4677.77317758 5391.94519352
 5499.04301015 5529.31751553 4196.88414496 3456.54032835 4074.03283146
 4215.65338466 3440.0362935  3527.3170251  4649.29263961 3398.45345358
 3455.68650317 3255.8952441  3416.54032289 3997.71023095 4934.21378563
 3519.55935793 5572.711927   4975.47793216 4690.06325965 5754.16465388
 3909.76202934 4779.11133178 3292.01417573 5367.81086851 4129.8214023
 4645.18915829 4774.8913453  4089.62376712 3772.09474328 3297.61324174
 4282.65509286 4805.67167586 4636.35014398 3926.97499685 3995.90198369
 3754.61719358 4860.08930832 3380.78260921 4894.50875769 4097.16965391
 4037.67820979 5464.28542474 3265.98549362 4769.46889966 3697.43317273
 3957.08146324 3328.76074313 4755.97727769 3297.65036656 4854.14159487
 4644.42904164 5412.4227956  3418.40925476 3457.36212691 4823.19173666
 3547.57553338 5678.40601548 3441.19475292 4834.3314628  4711.98163664
 3448.10638909 5598.88295106 4128.8477448  3958.80493321 4809.26841275
 4157.127855   4143.92156726 4193.37834825 4209.52038852 5440.44777311
 4051.36576561 5268.3178657  3570.56746332 4808.37142905 5369.90059005
 3537.12004016]

',body_mass_g\n0,4080.904012869895\n1,5311.05106155084\n2,4013.8324681359677\n3,3504.434494124846\n4,4696.748150491801\n5,4037.17672245346\n6,3344.0958852056337\n7,3602.349696089639\n8,3533.2462151698287\n9,3561.175777699504\n10,3410.8371015391194\n11,5489.5603843513\n12,3527.324768146131\n13,4107.32855178487\n14,3813.8401444249107\n15,4116.548084041227\n16,4397.672143445085\n17,3553.1137856019373\n18,3584.6231900518274\n19,3335.265672967281\n20,5320.9327286838125\n21,4120.491616400616\n22,5876.979761817429\n23,4677.773177582978\n24,5391.94519352177\n25,5499.043010145155\n26,5529.3175155298595\n27,4196.884144964705\n28,3456.5403283459136\n29,4074.0328314645285\n30,4215.653384663074\n31,3440.0362935040985\n32,3527.317025098967\n33,4649.292639610567\n34,3398.453453577773\n35,3455.6865031701177\n36,3255.8952440959265\n37,3416.540322890474\n38,3997.7102309462575\n39,4934.213785632689\n40,3519.5593579269585\n41,5572.711926999958\n42,4975.4779321609385\n43,4690.063259654665\n44,5754.164653879869\n45,3909.762029336522\n46,4779.11133178334\n47,3292.0141757275733\n48,5367.810868512352\n49,4129.821402296519\n50,4645.1891582874705\n51,4774.891345300852\n52,4089.6237671222552\n53,3772.094743279519\n54,3297.6132417444405\n55,4282.655092856504\n56,4805.671675862953\n57,4636.350143983377\n58,3926.974996849791\n59,3995.90198369299\n60,3754.617193575213\n61,4860.089308322816\n62,3380.7826092058453\n63,4894.508757687203\n64,4097.169653910407\n65,4037.6782097922605\n66,5464.285424740464\n67,3265.985493624412\n68,4769.468899662759\n69,3697.4331727292883\n70,3957.081463240196\n71,3328.7607431342435\n72,4755.977277690841\n73,3297.6503665624314\n74,4854.1415948651\n75,4644.429041638316\n76,5412.422795597421\n77,3418.409254761289\n78,3457.3621269122723\n79,4823.191736655161\n80,3547.5755333785605\n81,5678.406015484428\n82,3441.1947529182626\n83,4834.331462804316\n84,4711.9816366429395\n85,3448.106389093298\n86,5598.882951061568\n87,4128.847744797046\n88,3958.8049332085043\n89,4809.268412753279\n90,4157.127854997236\n91,4143.9215672584405\n92,4193.378348247641\n93,4209.520388524046\n94,5440.447773114764\n95,4051.365765609238\n96,5268.3178657019835\n97,3570.567463320098\n98,4808.371429047133\n99,5369.900590052989\n100,3537.1200401646634\n'